* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gray;
}
input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    background: white;
}
p {
    margin-top: 10px;
    font-size: 18px;
    color: #ffffff;
    display: none;
}
i {
    position: absolute;
    right: 130px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #1bce24;
    display: none;
}